.hero {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;

  &__logo-img {
    width: 200px;   // лого більше
    height: auto;   // зберегти пропорції
  }

  &__buttons {
    display: flex;
    gap: 15px;

    .btn {
      padding: 18px 66px;
      border: none;
      border-radius: 100px;
      background: #F4E041;
      color: black;
      font-size: 20px;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: lighten(#F4E041, 15%);
      }
    }
  }
}
