.hero {
  position: relative;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 650px;
  background:
    linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.55)),
    url("../../data/hero_img.jpeg");

  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
}


.container1 {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}
.box {
  position: relative;
  z-index: 3;
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.title {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 56px);
  line-height: 1.1;
  color: #E0E0E0;
}

.lead {
  font-size: clamp(16px, 1.2vw, 20px);
  opacity: .95;
}

